<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884944833760-4iklm0174u90khod3fho4qd77lul4n9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884944833760-4iklm0174u90khod3fho4qd77lul4n9p</string>
	<key>API_KEY</key>
	<string>AIzaSyCiXNQdPREJefCZj_VQBlsHZdXMd9v8VcU</string>
	<key>GCM_SENDER_ID</key>
	<string>884944833760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rxbbna.endless</string>
	<key>PROJECT_ID</key>
	<string>endless-rx115</string>
	<key>STORAGE_BUCKET</key>
	<string>endless-rx115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884944833760:ios:70598430d773c869be5485</string>
	<key>DATABASE_URL</key>
	<string>https://endless-rx115-default-rtdb.firebaseio.com</string>
</dict>
</plist>